mixin b-header()
	+b.HEADER.header

			+b.slider(class="swiper-container")
				+e.UL.list(class="swiper-wrapper")
					+e.LI.item(class="swiper-slide" style="background-image: url(img/slider-1.jpg)")
						+e.box.container
							+e.text_small Can you build the website of my dreams?
							+e.text_big Yup, we can do that.
							+e.BUTTON.btn(data-id-control="modal").btn_more#btn_sider-1 Learn More

					+e.LI.item(class="swiper-slide" style="background-image: url(img/slider-2.jpg)")
						+e.box.container
							+e.text_small Can you build the website of my dreams?
							+e.text_big Yup, we can do that.
							+e.BUTTON.btn(data-id-control="modal").btn_more#btn_sider-2 Learn More

					+e.LI.item(class="swiper-slide" style="background-image: url(img/slider-3.jpg)")
						+e.box.container
							+e.text_small Can you build the website of my dreams?
							+e.text_big Yup, we can do that.
							+e.BUTTON.btn(data-id-control="modal").btn_more#btn_sider-3 Learn More

					+e.LI.item(class="swiper-slide" style="background-image: url(img/slider-4.jpg)")
						+e.box.container
							+e.text_small Can you build the website of my dreams?
							+e.text_big Yup, we can do that.
							+e.BUTTON.btn(data-id-control="modal").btn_more#btn_sider-4 Learn More